*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-content: center;
    height: 100vh;
}

.card-container{
    display: flex;
    gap: 16px;
}

.card{
    width: 200px;
    background-color: #fff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 2px 4px ;

}

.card img{
    max-width: 100px;
    height: 100px;
    border-radius: 50%;
}